@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>Hexa</h2>

    <p>This is where you end up when you add "/sprite" to the URL and nothing else, because it's a 'default'-view</p>
</div>
</body>
</html>