@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>Octa</h2>

    <p>This isn't the default page, and nothing outside the code hints that this is a page you could navigate to. Congratulations for finding it. Give yourself a cookie, you've earned it.</p>
</div>
</body>
</html>